{% load static %}

<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
          <a href="{% url 'home' %}" class="brand-wrap">
            <img src="{% static '../../../../static/images/logo3.png' %}" class="logo" height="190px" width="190px" />
          </a>
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
          <div class="category-wrap dropdown d-inline-block float-right">
            <button type="button" style="color: #ffffff; background-color: #993399;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
              <i class="fa fa-bars"></i> All category 
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Machinery / Mechanical Parts / Tools </a>
              <a class="dropdown-item" href="#">Consumer Electronics / Home Appliances </a>
              <a class="dropdown-item" href="#">Auto / Transportation</a>
              <a class="dropdown-item" href="#">Apparel / Textiles / Timepieces </a>
              <a class="dropdown-item" href="#">Home & Garden / Construction / Lights </a>
              <a class="dropdown-item" href="#">Beauty & Personal Care / Health </a> 
            </div>
          </div>
        </div>
        <a href="./store.html" style="border-color: #993399; color: #993399;"
          class="btn btn-outline">Store</a>
        <div class="col-lg  col-md-6 col-sm-12 col">
          <form action="#" class="search">
            <div class="input-group w-100">
                <input type="text" class="form-control" style="width:60%;" placeholder="Search">
                
                <div class="input-group-append">
                  <button class="btn btn-primary" style="color: #ffffff; background-color: #993399;" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
          </form>
        </div>
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
          <div class="d-flex justify-content-end mb-3 mb-lg-0">
            <div class="widget-header">
              <small class="title text-muted">Welcome guest!</small>
              <div> 
                <a href="./signin.html" onMouseOver="this.style.color='#993399'" onMouseOut="this.style.color='#000000'">Sign in</a> <span class="dark-transp"> | </span>
                <a href="./register.html" onMouseOver="this.style.color='#993399'" onMouseOut="this.style.color='#000000'"> Register</a>
              </div>
            </div>
            <a href="./cart.html" class="widget-header pl-3 ml-3">
              <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart" style="color: #993399;"></i></div>
              <span class="badge badge-pill badge-danger notify">0</span>
            </a>
          </div>
        </div>
      </div> 
    </div> 
  </section> 
</header> 
